# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives**:
- List popular langauges for data science
- List common libraries for data science
- Demonstrate arithmetic expressions in python

# Some of the popular languages that Data Scientists use are:
# 1: R
# 2: SQL
# 3: Python

# Some of the commonly used libraries used by Data Scientists include:
# 1: NumPy
# 2: SciPy
# 3: pandas

# | Data Science Tools |
# | Hadoop |
# | Spark |
# | pandas |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

[1] 17

In [12]:
# This will convert 200 minutes to hours by dividing by 60
200/60

[1] 3.333333

## Author
Joshua Fenlason